header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 81px;
}

nav {
    position: fixed;
    top: 81px; left: 0; right: 0;
    height: 60px;
}

footer {
    width: 100%;
    height: 81px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.carousel-item {
    height: 25rem;
}
.container {
    margin-bottom: 20em;
}

body {
    font-family: fontStreaming;
}
.dropdown-menu li:hover {
    background-color: rgb(39, 37, 37);
}
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4d0b0b; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(99, 22, 10); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 8, 8); 
}
.movie-card-class {
    background-color: black;
}
body {
    background-color: rgb(33,37,41);
}
#image-size {
    width:18rem;
    height:10rem;
}