<template>
<div v-if="$auth.isAuthenticated">
  <Header></Header>
  <movie-list></movie-list>
</div>
<div v-else>
  <div class="text-white px-4 pt-5 my-5 text-center">
      <h1>Direct streaming</h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">No dejes de ver las mejores películas y series en nuestra plataforma de streaming en directo,<br> con contenido para todas las edades valoradas por vosotros</p>
          <div id="myCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                  <div v-if="!$auth.isAuthenticated">
                    <div class="carousel-item active">
                        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="../assets/img/pelis.jpg" class="w-50 rounded">
                                <h1 class="mt-4 text-white">Ver peliculas y series</h1>
                                <p>No estas loggeado</p>
                                <a href="/login"><p>Login In</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><!--<rect width="100%" height="100%" fill="#777"/>--></svg>
                      <div class="container">
                          <div class="carousel-caption">
                              <a href="/register">
                                  <img src="../assets/img/register.jpg" class="w-50 rounded">
                              </a>
                              <h1 class="mt-4">Registrarse</h1>
                              <p>Registrate en Streaming</p>
                              <p><a class="btn btn-dark" href="/register">Sign up</a></p>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>
</div>
</template>
<script>
import Header from '../components/Header.vue'
import MovieList from '../components/MovieList.vue'
export default{
  components: {Header,MovieList}
}
</script>