<template>
    <div class="container">
        <Header></Header>
        <div v-if="$auth.isAuthenticated">
            <h1 class="text-white mb-4">{{movie.title}}</h1>
            <video width="1300" height="800" controls>
            <source :src='urlMovie' type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
    </div>
</template>
<script>
import Header from "../components/Header.vue"
export default {
    created() {
        if (this.$auth.isAuthenticated) {
            
            this.fetchMovie();
        }
    },
    data() {
        
        return {
            urlMovie:'',
            movie: {},
        };
    },

    methods: {
        async fetchMovie() {
            const response = await fetch(`https://netstreamfilm.herokuapp.com/api/movie/${this.$route.params.id}`, { headers: {Authorization: `Bearer ${this.$auth.access_token}`}});
            this.movie = (await (response.json())).data;
            this.urlMovie = "https://netstreamfilm.herokuapp.com/movies/" + this.movie.file;
            console.log(this.urlMovie);
        },
    },
    components: { Header },
}
</script>
