<template>
    <div>
        <div class="fixed-top d-flex p-3 bg-dark text-white flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 p-4 border-bottom">
            <span class="fs-4 justify-content-lg-start"><img src="/src/assets/logo.png" style="width:2rem">&nbsp;Streaming</span>
            <ul class="nav d-flex justify-content-end">
                <div v-if="!$auth.isAuthenticated"><!-- check if not auth then you can acces home to register or login-->
                <li>
                    <a href="/" class="nav-link px-2 text-white">Home</a>
                </li>
                </div>
                <div v-if="$auth.isAuthenticated"><!-- check auth -->
                    <div class="d-flex">
                        <li class="p-2">
                            <div v-if="$auth.isAuthenticated">
                                <p><a @click="logout"><img src="../assets/img/poweroff.png" width="20"></a></p>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <!--<div>
        <router-link to="/">Inicio</router-link>
        <router-link to="/login">Login</router-link>
        <router-link to="/list-movies">List movies</router-link>
        <router-link to="/favorites">Favorites</router-link>

        <movie-list></movie-list>
    </div>-->
</template>
<script>
export default {
    methods: {
        logout() {
            this.$auth.logout();
        },
    }
}
</script>