<template>
<div v-if="$auth.isAuthenticated" class="bg-dark float-start">
    <div class="container">
        <div class="container" style="height: 5rem;">
            <div class="m-2 p-2">
                <a v-bind:href="'watch/' + id" style="text-decoration:none;" class="text-white">
                    <img id="image-size"  :src="'/src/assets/img/' + src">
                    <div class="d-flex">
                        <div class="col-6">
                            <p class="mt-2">{{ title }}</p>
                        </div>
                    </div>
                    <p class="text-wrap" style="width: 20rem;">{{sinopsis}}</p>
                    <div v-if="type == 'serie'">
                        <p>Temporada:&nbsp;{{ season }}&nbsp;Capitulo:&nbsp;{{ chapter}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div v-else> 
    <div class="text-white px-4 pt-5 my-5 text-center">
        <div class="col-xl-6 mx-auto">
        <p>No estas loggeado</p>
        <a href="/login"><p>Login In</p></a>
        </div>
    </div>
</div>
</template>
<script>
export default {
    props : ['id','src','title','year','sinopsis','duration','type','file','size','season','chapter'],
}
</script>