<template>
<div>
    <Header></Header>
    <div v-if="$auth.isAuthenticated">
        <div movie-card-class >
            <div style="height:100px"></div>
            <h1 class="text-white text-center">Movies</h1>
            <div class="container">
                <carousel :items-to-show="3">
                    <slide v-for="movie in movies" :key="movie.id" :src="movie.cover" :title="movie.title" :sinopsis="movie.sinopsis" :year="movie.year" :duration="movie.duration" :file="movie.file" :season="movie.season" :chapter="movie.chapter" :type="movie.type" :size="movie.size"
                                class='movie h-25'>
                        <a v-bind:href="'watch/' + movie.id" style="text-decoration:none;" class="text-white">
                            <img id="image-size" :src="'/src/assets/img/' + movie.cover" width="20rem">
                            <div class="d-flex">
                                <div class="col-6">
                                    <p class="mt-2">{{ movie.title }}</p>
                                </div>
                            </div>
                            <p class="text-wrap" style="width: 20rem;">{{movie.sinopsis}}</p>
                            <div v-if="movie.type == 'serie'">
                                <p>Temporada:&nbsp;{{ movie.season }}&nbsp;Capitulo:&nbsp;{{ movie.chapter}}</p>
                            </div>
                        </a>
                    </slide>
                    <template #addons>
                        <navigation />
                        <pagination />
                    </template>
                </carousel>
                <movie-card v-for="movie in movies" :key="movie.id" :id="movie.id" :src="movie.cover" :title="movie.title" :sinopsis="movie.sinopsis" :year="movie.year" :duration="movie.duration" :file="movie.file" :season="movie.season" :chapter="movie.chapter" :type="movie.type" :size="movie.size"></movie-card>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="col-xl-6 mx-auto">
            <p>No estas loggeado</p>
            <a href="/login"><p>Login In</p></a>
        </div>
    </div>
</div>
</template>
<script>
import MovieCard from "./MovieCard.vue"
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import Header from "../components/Header.vue"
export default{
    data() {
        return {
            movies: [
            ],
            
        }
    },
    
    mounted() {
        this.fetchMovies();
    },

    methods: {
        async fetchMovies() {
            const response = await fetch('https://netstreamfilm.herokuapp.com/api/movies/', { headers: {Authorization: `Bearer ${this.$auth.access_token}`}});
            this.movies = (await (response.json())).data;
        },
    },
    components: 
    { 
        MovieCard,
        Carousel,
        Slide,
        Pagination,
        Navigation,
        Header,
        
    },
}
</script>