<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<script>
export default{
    mounted() {
          let bootstrapScript = document.createElement('script')
      bootstrapScript.setAttribute('src', 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
      document.head.appendChild(bootstrapScript)
            let kitawesomeScript = document.createElement('script')
      kitawesomeScript.setAttribute('src', 'https://kit.fontawesome.com/a076d05399.js')
      document.head.appendChild(kitawesomeScript)
    }
}
</script>
<style type="text/css">
    @font-face {
        font-family: fontStreaming;
        src: url(/src/assets/font/Courgette-Regular.ttf);
    }
</style>
